<!DOCTYPE html>
<html lang="es-mx">
<head>
    {{ partial "head.html" . }}
    {{ partial "head_custom.html" . }}
</head>
<body>
  {{ block "header" . }}
    {{ partial "header.html" . }}
  {{end}}

  {{ block "main" . }}
  {{end}}

  {{ block "footer" . }}
    {{ partial "footer.html" . }}
    {{ partial "base-foot.html" . }}
  {{end}}
  <!-- GoatCounter no cookies privacy friendly -->
  <script data-goatcounter="https://coronamex.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
</body>
</html>
