{{ define "main" }}
  {{ partial "showcase.html" . }}
  {{ partial "mejor_curva.html" . }}
  {{ partial "casos.html" . }}
  {{ partial "muertes.html" . }}
  {{ partial "tiempo_muerte.html" . }}
  {{ partial "riesgos_relativos.html" .}}
  {{ partial "nacional_sintomas.html" . }}
  {{ partial "sir.html" . }}
  {{ partial "sir_centinela.html" . }}
  {{ partial "comunitarios.html" . }}
  {{ partial "estados.html" . }}
  {{ partial "inicio_comunitarios.html" . }}
  {{ partial "letalidad.html" . }}
{{ end }}
