<!-- inject:../components/baseHead/baseHeadStart.html -->
<!DOCTYPE html>
<html lang="es-mx">

<head>

    {{ partial "head.html" . }}

    {{ partial "head_custom.html" . }}

</head>

<body>

	{{ partial "header.html" . }}

	{{ partial "showcase.html" . }}

  {{ partial "mejor_curva.html" . }}

  {{ partial "casos.html" . }}

	{{ partial "muertes.html" . }}

  {{ partial "tiempo_muerte.html" . }}

	{{ partial "nacional_sintomas.html" . }}

  {{ partial "sir.html" . }}

  {{ partial "sir_centinela.html" . }}

  {{ partial "comunitarios.html" . }}

  {{ partial "estados.html" . }}

  {{ partial "inicio_comunitarios.html" . }}

  {{ partial "letalidad.html" . }}

	<!--{{ partial "education.html" . }}

	{{ partial "experience.html" . }}

	{{ partial "client-and-work.html" . }}

    {{ partial "testimonial.html" . }}

    {{ partial "contact.html" . }}

    {{ partial "newsletter.html" . }} -->

	{{ partial "footer.html" . }}

    {{ partial "base-foot.html" . }}
</body>

</html>
<!-- endinject -->
